@charset "utf-8";
* {
  font-family: "Source Serif Pro", serif !important;
}
// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: black;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$secondary: white;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../mybulma/bulma-0.9.4/bulma/bulma.sass";

img {
  border-radius: 10px;
}

/*Navbar section starts*/
html.has-navbar-fixed-top,
body.has-navbar-fixed-top {
  padding-top: 0;
}

.navbar-brand {
  font-size: 25px;
}
.brandName {
  font-style: italic;
}

.navbar {
  padding: 12px 0;
  background: #fff;
  -webkit-box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1);
}
nav.navbar {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: white;
}

nav.navbar.transparent {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

/*Navbar section ends*/

.content-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner-section {
  height: 95vh;
  img {
    background-size: cover;
    background-position: center;
    border-radius: 0;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
  }
  .banner-section_container {
    height: 100%;
  }
  .banner-section_container .columns {
    height: 100%;
  }
  .banner-section_left {
    height: 50%;
    background-color: #fff;
  }
  .banner-section_right {
    height: 50%;
    background-color: red;
  }
}

/*
banner slider starts

*/

/* Swiper container stylng */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide_1 {
  background-color: #643ca3;
}

.slide_2 {
  background-color: #e38364;
}

.slide_3 {
  background-color: #faf47a;
}

.slide_4 {
  background-color: #64e3c1;
}

.slide_5 {
  background-color: #9e6ffd;
}

.swiper-button-next,
.swiper-button-prev {
  outline: none;
  color: $secondary;
}

div.swiper-button-next,
div.swiper-button-prev {
  top: 50%;
}
/*
banner slider starts

*/

/*Intro Section Starts*/
.intro-section {
  align-items: center;
  padding: 20px 0;
  color: $grey-dark;
  background-color: white;
}
.intro-section_container {
  padding: 50px 10px;
  display: flex;
  width: 70%;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-section_description {
  padding: 50px 10px;
}

.intro-section_title {
  .first-title {
    font: 30px;
  }
  .second-title {
    font-size: 56px;
  }
}
/*Intro Section Ends*/

/*View section starts*/
.view-section {
  align-items: center;
  // max-height: 50vh;
}

.view-section_container {
  display: grid;
  grid-template-areas: "a a a a ";
}

.view_div {
  max-width: 60vh;
  grid-area: "a";
  position: relative;
  color: $secondary;
  font-size: 22px;

  text-shadow: 1px 1px 2px #000, 0 0 25px #000, 0 0 5px #000;
  overflow: hidden;
}
.view_div img {
  border-radius: 0;
  transition: all 1s;
  width: 100%;
  background-size: cover;
  height: 100%;
}
.view_div:hover img {
  transform: scale(1.1);
}

/*View section ends*/

/*Testimonials section starts*/

.testimonials-section {
  align-items: center;

  background-image: url("Images/testimonials-background.jpeg");
  background-attachment: fixed;
  background-position: center;
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(59, 55, 55, 0.618);
  background-blend-mode: multiply;

  .testimonials-section_container {
    height: auto;
    width: 100%;
    padding: 50px 10px;
    text-align: center;

    .section-heading {
      font-size: 13px;
      display: block;
      margin-bottom: 5px;
      color: $secondary;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
    }
    .section-subheading {
      font-size: 64px;
      font-weight: 400;
      line-height: 1.4;
      color: $secondary;
    }

    .testimonialsSwiper {
      padding: 20px 0;
    }
    .card {
      margin: 20px 20px;
      min-height: 40vh;

      max-width: 60%;

      display: flex;
    }
  }
}

/*Testimonials section ends*/

/*Places section starts*/
.places-section {
  background-color: white;
  align-items: center;
  justify-content: center;
  .places-section_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    padding: 20px 0;
  }
  .places-heading {
    color: #000;
    font-size: 42px;
    margin-top: 0;
    line-height: 120%;
    font-family: "Cinzel";
    font-weight: 700;
    padding: 10px 0;
  }
  .places-subheading {
    max-width: 800px;
    margin: 15px auto 0;
    text-align: center;
  }
  .places-grid {
    position: relative;
    margin: 50px 10px;
    width: 80%;
    align-items: center;
    height: 50vh;
    display: grid;
    grid-template-areas: "main main";
    gap: 10px;
  }

  .places-grid-main {
    grid-area: "main";
    height: 100%;
  }
  .places-grid-other {
    grid-area: "main";
    height: 100%;
    display: grid;
    grid-template-areas:
      "other other"
      "other other";
    gap: 10px;
  }
  .palces-card {
    height: 100%;
    position: relative;
    text-align: left;
    transition: all 1s;

    img {
      background-size: cover;
      height: 100%;
      filter: brightness(50%);
      transition: all 1s;
    }

    .places-card-description {
      width: 100%;
      padding: 5px;
      transition: all 1s;
    }

    .places-card-title {
      color: $secondary;
      font-size: 26px;
    }
    .places-card-subtitle {
      color: $secondary;
      font-size: 12px;
    }
    .content-overlay {
      transform: translate(-50%, -20%);
    }
  }
  // .places-card-main {
  //   grid-area: "main";
  // }
  .palces-card:hover img {
    filter: brightness(30%);
  }
  .palces-card:hover .places-card-title {
    font-size: 30px;
  }
  .palces-card:hover .content-overlay {
    transform: translate(-50%, -50%);
  }
  @media only screen and (max-width: 768px) {
    .places-grid {
      height: auto;

      grid-template-areas:
        "main"
        "main";
    }
    .places-grid-other {
      grid-template-areas:
        "other"
        "other"
        "other"
        "other";
    }

    .places-card-title {
      color: $secondary;
      font-size: 15px;
    }
    .places-card-subtitle {
      color: $secondary;
      font-size: 12px;
    }
  }
}

/*Video section starts*/
.video-section {
  background-color: white;
  align-items: center;
  padding: 20px 0;
  .video-section_container {
    display: flex;
    position: relative;
    div {
      padding: 20px;
    }
  }
  .video-part {
    flex-grow: 1;
    position: relative;
    img {
      border-radius: 10px;
    }
    .video-play-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      img {
        height: 70px;
        background-color: $secondary;
        border-radius: 50px;
        transition: all 0.5s;
      }
    }

    .video-play-btn:hover {
      img {
        background-color: $primary;
        height: 80px;
      }
    }
  }
  .video-part:hover {
    .img-fluid {
      filter: brightness(50%);
      transition: all 1s;
    }
  }
  .info-part {
    flex-grow: 1;
    flex-direction: column;
    display: flex;

    align-items: center;
    .title {
      font-size: 56px;
      padding: 30px 0;
    }
    .subtitle {
      text-align: center;
      font-size: 15px;
      padding: 20px 30px;
      max-width: 1200px;
    }
  }
}

.modal {
  transition: all 1s;
  .box {
    padding: 1.25rem;
    height: 70vh;

    display: flex;
  }
  iframe {
    flex-grow: 1;
  }
}
/*Video section ends*/

/*Contact section ends*/
.contact-section {
  align-items: center;
  padding: 20px 0;
  background-image: url("Images/Banner/Banner5.jpeg");
  background-attachment: fixed;
  background-position: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(59, 55, 55, 0.259);
  background-blend-mode: multiply;

  .contact-section_container {
    display: flex;
    height: 100%;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .contact-form {
    height: 100%;
    padding: 30px;
    flex-grow: 0.5;
  }
  .map {
    height: 70vh;
    border-radius: 10px;
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
  }
}

/*Contact Section Starts */

/*contact form starts*/

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  border-radius: 10px;
  background: #f9f9f9;
  padding: 25px;
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: $primary;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: $primary;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
/*contact form ends*/

@media only screen and (max-width: 768px) {
  .navbar-link::after {
    display: none;
  }
  .banner-section {
    height: 30vh;
  }
  .view-section_container {
    display: grid;
    grid-template-areas:
      "a a"
      "a a";
  }
  .contact-section .contact-section_container {
    width: 100%;
  }
  .contact-section .map,
  .contact-form {
    width: 100%;

    max-width: 90vw;
  }

  .contact-section .contact-section_container {
    flex-direction: column;
  }
  .testimonials-section .testimonials-section_container .card {
    height: 50vh;
    max-width: 90%;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    transform: scale(0.5);
  }
  .swiper-button-prev {
    left: -5px;
  }
  .swiper-button-next {
    right: -5px;
  }

  .contact-section .map {
    height: 40vh;
  }
  .video-section_container {
    flex-direction: column;
  }
  .nextline::after {
    content: "\a";
    white-space: pre;
  }
}
